/*This is the CSS page for our final template.*/

body {
    font-family: 'Spectral', serif; 
    background-color: #f0e0bd; 
    
    line-height: 1.6;
    color: #333; 
    margin: 0;
    padding: 0;
}

p {
	font-family: 'Spectral', serif;
	font-size: 20px;
}

.article-wrapper {
	max-width: 900px; 
	margin: 0 auto;  
	padding: 0 15px; 
}

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #cccccc;
	text-align: center;
	font-size: 18px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	font-family: 'Spectral', serif;
	color: #000000;
}



h1 {
    font-weight: 700; 
    font-size: 2.2rem; 
}

h2 {
	font-style: normal;
	font-weight: 700; 
	font-size: 40px;
    margin-top: 1.5em;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.3em;
}

h3 {
	font-weight: 700;
	font-size: 30px;
}

h4 {
	font-weight: 700;
	font-size: 20px;
}

img {
    float: none !important; 
	max-width: 100%; 
	height: auto;
    display: block;
    margin: 1em auto;
}
#button {
	text-align: center;
	font-size: 20px;
	background-color: #3C474B;
	color: #C0E0DE;
	font-weight: bold;
	padding: 12px;
	width: 20%;
	margin-left: 42%;
}

/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
}



