body {
  font-family: Courier New, sans-serif;
  max-width: 70rem;
  margin-left: 10px;
  margin-right: 1opx;
}

header {
  background-color: lightgrey;
  font-size: 23px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
  color: floralwhite;
}

img {
  width: 100%;
}

.caption {
  font-size: 14px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px
}

h1 {
  font-style: bold;
  font-size: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

h3 {
  font-style: bold;
  font-size: 24px;
  color: limegreen;
}
p {
  font-size: 20px;
}

.otherimg {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
